<div class="pagination container">
  <button type="button" disabled class="arrow-btn"><img src="../../static/images/left_arrow.svg" alt="arrow"
      width="13" height="26"></button>
  <ul class="pagination-list">
    <li class="pagination-list-item"><a class="pagination-list-item-link" href="#">1</a></li>
    <li class="pagination-list-item"><a class="pagination-list-item-link" href="#">2</a></li>
    <li class="pagination-list-item"><a class="pagination-list-item-link" href="#">3</a></li>
    <li class="pagination-list-item"><a class="pagination-list-item-link" href="#">4</a></li>
  </ul>
  <button type="button" class="arrow-btn"><img src="../../static/images/right_arrow.svg" alt="arrow" width="13"
      height="26"></button>
</div>