<div class="pagination container">
  <button type="button" disabled class="pagination__left-btn"><img src="../../static/images/left_arrow.svg" alt="arrow"
      width="13" height="26"></button>
  <ul class="pagination__list">
    <li class="pagination__item"><a class="pagination__link" href="#">1</a></li>
    <li class="pagination__item"><a class="pagination__link" href="#">2</a></li>
    <li class="pagination__item"><a class="pagination__link" href="#">3</a></li>
    <li class="pagination__item"><a class="pagination__link" href="#">4</a></li>
  </ul>
  <button type="button" class="pagination__right-btn"><img src="../../static/images/right_arrow.svg" alt="arrow" width="13"
      height="26"></button>
</div>