@import "./mixin";

.location {
  margin-top: 95px;
  margin-bottom: 155px;

  @include tablet {
    margin-top: 86px;
    margin-bottom: 125px;
  }
}

.about-us {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #e1f0f7;
  margin-right: 57px;
  max-width: 543px;
  width: 50%;
  padding: 30px;

  @include tablet {
  margin-right: 20px;
  }

  &__head {
    font-family: "Montserrat", "Verdana", sans-serif;
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1e0606;
    position: relative;
    margin-top: -55px;

    @include tablet {
      font-size: 30px;
      line-height: 36px;
      margin-top: -46px;
      margin-left: -15px;
      width: 116%;
    }
  }
  
  &__heading {
    font-family: "Crimson Text", "Palatino", serif;
    font-style: italic;
    font-weight: normal;
    font-size: 26px;
    line-height: 32px;
    color: #1e0606;
    margin-top: -19px;
  }
  
  &__info {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1e0606;
    margin-top: 10px;
    height: max-content;
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  position: relative;
  background: #e1f0f7;
  width: 47%;
  height: max-content;
  padding: 30px;

  @include tablet {
    width: 50%;
  }

  &__head {
    font-family: "Montserrat", "Verdana", sans-serif;
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1e0606;
    position: relative;
    margin-top: -55px;

    @include tablet {
      font-size: 30px;
      line-height: 36px;
      margin-top: -46px;
      margin-left: -15px;
      width: 116%;
    }
  }
  
  &__info {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1e0606;
    margin-top: -10px;
    width: 91%;

    @include tablet {
      width: 100%;
    }
  }
  
  &__widget {
    position: relative;
    margin: 0 4px -140px;

    @include tablet {
      margin: 0 -10px -140px;
    }
  }

  &__map {
    background: #ededee;

    @include tablet {
      width: 284px;
      height: 151px;
    }
  }
}

