@import "./mixin";

.catalog {
  margin-top: 90px;

  @include tablet {
    margin-top: 60px;
  }

  &__heading {
    font-family: "Montserrat", "Verdana", sans-serif;
    font-weight: bold;
    font-size: 38px;
    text-transform: uppercase;
    color: #1e0606;
    max-width: 1180px;
    margin: 0 auto;

    @include tablet {
      padding-left: 60px;
      font-size: 36px;
    }

    @include phones {
      padding-left: 20px;
      font-size: 24px;
    }
  }

  &__description {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1e0606;
    width: 50%;
    margin-top: 10px;
    margin-left: 20px;

    @include tablet {
      font-size: 14px;
      width: 100%;
    }
  }
  
  &__arrow-btn {
    width: 37px;
    height: 37px;
    border: none;
    background: rgba(112, 187, 220, 0.2);
    margin-right: 6px;
    margin-top: 12px;
    transition: 0.5s;
  }
  
  &__arrow-btn:hover,
  &__arrow-btn:focus {
    cursor: pointer;
    opacity: 0.5;
  }
  
  &__arrow-btn:active {
    opacity: 0.2;
  }
  
}
