@import "./mixin";

.button {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #000000;
  border: none;
  cursor: pointer;
  transition: 0.5s;
  max-width: 161px;
  min-height: 40px;
  padding: 9px 22px 9px 22px;

&:hover,
&:focus {
  background-color: #c29974;
}

&:active {
  background-color: #cfaf91;
}

&:disabled {
  background-color: #c7c1c1;
}

&--explore {
  margin-left: 40px;
  margin-top: 20px;

  @include tablet {
    margin-left: 15px;
  }
}

&--learn {
  width: 149px;
  margin-top: 10px;

  @include tablet {
  }
}

&--submit {
  margin-top: 1px;
  margin-left: 15px;
}

&--apply {
  position: relative;
  top: 35px;
}
}