fieldset {
  border: none;
}

.popup-wrapper {
  display: none;
  position: fixed;
  background: rgba(125, 151, 218, 0.8);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popup-wrapper-open {
  display: block;
}

.contact-form {
  position: fixed;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 680px;
  height: max-content;
  background: #e5eaf8;
  padding-top: 20px;
}

.contact-form label {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #1e0606;
  padding-bottom: 3px;
}

.checkbox-label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.contact-form input {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.name-input {
  width: 600px;
  height: 50px;
  margin: 0px auto;
  padding: 20px 11px 14px;
}

.name-input::placeholder {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #1e0606;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.contact-input {
  width: 280px;
  height: 50px;
  padding: 20px 11px 14px;
}

.input-wrap {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.contact-form input:hover,
input:focus {
  background: #ffffff;
  padding: 19px 10px 13px;
  border: 2px solid #c29974;
}

.contact-form input:disabled {
  background: #ffffff;
  border: 2px solid #ebebeb;
}

textarea {
  margin: 0 auto;
  width: 600px;
  height: 150px;
  resize: none;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px 11px 14px;
}

textarea:hover,
textarea:focus {
  background: #ffffff;
  padding: 19px 10px 13px;
  border: 2px solid #c29974;
}

textarea:disabled {
  background: #ffffff;
  border: 2px solid #ebebeb;
}

.close-btn {
  position: fixed;
  top: 0%;
  left: 101%;
  border: none;
  outline: none;
  background: transparent;
}

.close-btn:hover,
.close-btn:focus {
  opacity: 0.5;
  cursor: pointer;
}
