<section class="delivery container">
  <picture>
    <source srcset="/static/images/woman.jpg, /static/images/woman_2x.jpg 2x" media="(min-width: 1025px)">
    <source srcset="/static/images/woman_tablet.jpg, /static/images/woman_tablet_2x.jpg 2x"
      media="(min-width: 769px) and (max-width: 1024px)">
    <source srcset="/static/images/woman_mobile.jpg, /static/images/woman_mobile_2x.jpg"
      media="(max-width: 768px)">
    <img class="delivery__img" src="/static/images/woman.jpg" alt="woman">
    </picture>
  <div class="delivery-info">
    <h2 class="delivery-info__heading">delivery</h2>
    <ul class="delivery-info__list">
      <li class="delivery-info__list-item"><a class="delivery-info__item-link delivery-info__item-link_active" href="#">Delivery</a></li>
      <li class="delivery-info__list-item"><a class="delivery-info__item-link" href="#">Guarantee</a></li>
      <li class="delivery-info__list-item"><a class="delivery-info__item-link" href="#">Credit</a></li>
    </ul>
    <p class="delivery-info__description">Some days i feel like i've been working on dlk my entire life and there are
      other
      days that i am completely
      shocked that four years have flown by. It's simply magical.</p>
    <p class="delivery-info__description">What started as an outlet to deal with the traumatic loss of my husband, dlk has
      now become a truly happy
      place for me and i have you and all of the beautiful designers that we work with to thank!</p>
    @@include('button/index.html', {
    text:"learn more",
    class:"button--learn",
    type:"button",
    disabled:"no",
    })
  </div>
</section>