<div class="animation">
	<div class="animation__sky">
		<img class="animation__cloud animation__cloud--one" src="/static/images/cloud_1.png" width="92" height="26"
			alt="cloud one">
		<img class="animation__cloud animation__cloud--two" src="/static/images/cloud_2.png" width="186" height="38"
			alt="cloud two">
		<img class="animation__cloud animation__cloud--three" src="/static/images/cloud_3.png" width="156" height="32"
			alt="cloud three">
		<img class="animation__cloud animation__cloud--four" src="/static/images/cloud_4.png" width="201" height="42"
			alt="cloud four">
		<img class="animation__cloud animation__cloud--five" src="/static/images/cloud_5.png" width="92" height="26"
			alt="cloud five">
		<img class="animation__moon" src="/static/images/moon.png" width="60" height="59" alt="sun">
		<img class="animation__cloud animation__cloud--six" src="/static/images/cloud_6.png" width="185" height="34"
			alt="cloud six">
	</div>
<img class="animation__background" src="/static/images/city_background.png" width="1585" height="630" alt="city background">
<img class="animation__car--one" src="/static/images/car_one.png" width="251" height="99" alt="car one">
<img class="animation__car--two" src="/static/images/car_two.png" width="203" height="96" alt="car two">
<img class="animation__car--three" src="/static/images/car_three.png" width="246" height="65" alt="car three">
<img class="animation__car--four" src="/static/images/car_four.png" width="268" height="126" alt="car four">
<img class="animation__far-lantern animation__far-lantern--left" src="/static/images/background_lantern.png" width="150" height="388"
	alt="lantern">
<img class="animation__far-lantern animation__far-lantern--right" src="/static/images/background_lantern.png" width="150" height="388"
	alt="lantern">
<img class="animation__taxi" src="/static/images/taxi.png" width="866" height="266" alt="taxi">
<img class="animation__taxi-speech" src="/static/images/taxi_speech.png" width="160" height="99" alt="speech bubble">
<img class="animation__color-lantern" src="/static/images/color_lantern.png" width="214" height="552" alt="lantern">
<img class="animation__man-hand" src="/static/images/man_hand.png" width="89" height="128" alt="man hand">
<img class="animation__man" src="/static/images/man_animation.png" width="205" height="353" alt="man">
<img class="animation__man-speech" src="/static/images/man_speech.png" width="160" height="77" alt="bubble speech">
<img class="animation__man-speech-2" src="/static/images/man_speech_2.png" width="160" height="77" alt="bubble speech">
<img class="animation__woman" src="/static/images/woman_animation.png" width="191" height="267" alt="woman">
<img class="animation__woman-hand" src="/static/images/woman_hand.png" width="63" height="44" alt="woman hand">
<img class="animation__woman-speech" src="/static/images/woman_speech.png" width="160" height="99" alt="speech bubble">
</div>