<form class="filtr" action="#" method="post">
  <div class="filtr__content container">

    <fieldset class="cost">
      <legend>Cost</legend>
      <input class="cost__range" type="range" min="0" max="500" value="150" aria-label="cost-slide">
      <div class="cost__value">
        <span>0</span>
        <span>500</span>
      </div>
    </fieldset>

    <fieldset class="color">
      <legend>Color</legend>
      <ul class="color__list">
        <li class="color__item">
          @@include('checkbox/index.html', {
            name:"black",
            value:"black",
            id:"black-color",
            for:"black-color",
            text:"Black",
          })
        </li>
        <li class="color__item">
          @@include('checkbox/index.html', {
            name:"blue",
            value:"blue",
            id:"blue-color",
            for:"blue-color",
            text:"Blue",
          })
        </li>
        <li class="color__item">
          @@include('checkbox/index.html', {
            name:"green",
            value:"green",
            id:"green-color",
            for:"green-color",
            text:"Green",
          })
        </li>
        <li class="color__item">
          @@include('checkbox/index.html', {
            name:"white",
            value:"white",
            id:"white-color",
            for:"white-color",
            text:"White",
          })
        </li>
      </ul>
    </fieldset>

    <fieldset class="shipping">
      <legend class="shipping__heading">Delivery</legend>
      <ul class="shipping__list">
        <li class="shipping__item">
          <input class="shipping__radio radio-btn" type="radio" name="shipping" value="free" id="free-shipping">
          <label class="shipping__radio-label" for="free-shipping">Free shipping</label>
        </li>
        <li class="shipping__item">
          <input class="shipping__radio radio-btn" checked type="radio" name="shipping" value="fast"
            id="fast-shipping">
          <label class="shipping__radio-label" for="fast-shipping">Fast shipping</label>
        </li>
      </ul>
    </fieldset>

    <fieldset class="amount">
      <legend class="amount__heading">Amount</legend>
      <ul class="amount__list">
        <li class="amount__item">
          <input class="amount__radio radio-btn" checked type="radio" name="quantity" value="0-10" id="0-10">
          <label class="amount__radio-label" for="0-10">0-10</label>
        </li>
        <li class="amount__item">
          <input class="amount__radio radio-btn" type="radio" name="quantity" value="10-20" id="10-20">
          <label class="amount__radio-label" for="10-20">10-20</label>
        </li>
        <li class="amount__item">
          <input class="amount__radio radio-btn" type="radio" name="quantity" value="20-50" id="20-50">
          <label class="amount__radio-label" for="20-50">20-50</label>
        </li>
      </ul>
    </fieldset>
    @@include('button/index.html', {
    text:"apply",
    class:"button--apply",
    type:"button",
    disabled:"no",
    })
  </div>
</form>