@import "./mixin";

.header {
  margin-top: 50px;

  &__mobile-menu {
    display: none;
    cursor: pointer;
    background: transparent;
    border: none;
    font-size: 14px;
    text-transform: uppercase;
    color: #1e0606;
    transition: 0.5s;

    @include tablet {
      display: block;
      align-items: center;
      margin-left: 40%;
    }

    @include old-phones {
      margin-left: 32%;
    }
  }

  &__logo-link {
    transition: 0.5s;
  }

  &__logo-link:hover,
  &__logo-link:focus {
    opacity: 0.5;
  }

  &__logo-link:active {
    opacity: 0.3;
  }

  &__logo {
    align-items: flex-end;

    @include tablet {
      width: 62px;
    }

    @include phones {
      width: 42px;
    }
  }
}

.header-nav {
  margin-left: 40px;

  @include tablet {
    display: none;
  }

  @include phones {
    display: none;
  }

  &__navigation-list {
    display: flex;
    align-items: center;
  }

  &__navigation-item {
    padding-left: 22px;
  }

  &__navigation-link {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #1e0606;
    transition: 0.5s;
  }

  &__navigation-link:hover,
  &__navigation-link:focus {
    opacity: 0.5;
  }

  &__navigation-link:active {
    opacity: 0.3;
  }
}

.contact-us {
  display: flex;
  align-items: center;
  margin-left: auto;

  &__search-btn {
    border: none;
    outline: none;
    background: transparent;
    transition: 0.5s;
  }

  &__search-btn:hover,
  &__search-btn:focus {
    opacity: 0.5;
    cursor: pointer;
  }

  &__search-btn:active {
    opacity: 0.3;
  }

  &__search-btn:disabled {
    opacity: 0.1;
  }

  &__link {
    font-family: "Open Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #1e0606;
    padding-left: 16px;
    transition: 0.5s;

    @include tablet {
      display: none;
    }

    @include phones {
      display: none;
    }
  }

  &__link:hover,
  &__link:focus {
    opacity: 0.5;
  }

  &__link:active {
    opacity: 0.3;
  }
}
