<header class="header container">

      @@if (type === "main") {
      <img class="header__logo" src="/static/images/logo.svg" alt="Design Life Kids" width="100" height="52"/>
      }
    
      @@if (type !== "main") {
        <a href="../../index.html" class="header__logo-link"><img class="header__logo" src="/static/images/logo.svg" alt="Design Life Kids" width="100" height="52"/></a>
      }

  <nav class="header-nav">
    <ul class="header-nav__navigation-list">
      <li class="header-nav__navigation-item"><a class="header-nav__navigation-link" href="/pages/blog/index.html">Blog</a>
      </li>
      <li class="header-nav__navigation-item"><a class="header-nav__navigation-link"
          href="/pages/catalog/index.html">Catalog</a>
      </li>
      <li class="header-nav__navigation-item"><a class="header-nav__navigation-link" href="#">About Us</a></li>
      <li class="header-nav__navigation-item"><a class="header-nav__navigation-link" href="/pages/animation-page/index.html">Animation</a></li>
      <li class="header-nav__navigation-item"><a class="header-nav__navigation-link" href="/pages/svg-page/index.html">SVG</a></li>
      <li class="header-nav__navigation-item"><a class="header-nav__navigation-link" href="/pages/grid/index.html">Grid</a></li>
    </ul>
  </nav>
  <button class="header__mobile-menu">menu</button>
  <div class="contact-us">
    <button class="contact-us__search-btn" type="button"><img src="/static/images/glass.svg" alt="glass" width="17" height="17"></button>
    <a class="contact-us__link" href="/pages/contacts/index.html">contact us</a>
  </div>
</header>
