@import "./mixin";

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

li {
  list-style-type: none;
}

fieldset {
  border: none;
}

:focus,
:hover,
:disabled {
  outline: none;
}

:active {
  text-decoration: none;
  border-bottom: none;
}

.container {
  display: flex;
  max-width: 1180px;
  margin: 0 auto;

  @include tablet {
    max-width: 1024px;
    padding:0 60px;
  }

  @include phones {
    max-width: 768px;
    padding: 0 20px;
  }
}

.hidden {
  display: none;
}

/* img background */

img {
  display: block;
}

.product-img-1 {
  background: #DBE4DB;
}

.product-img-2 {
  background: #EADDD3;
}

.product-img-3 {
  background: #F8F2DA;
}

.product-img-4 {
  background: #D5D4E1;
}

.product-img-5 {
  background: #F3D0DB;
}

.product-img-6 {
  background: #E5EAF8;
}

.radio-btn {
  display: none;
}

// Подключение компонентов
@import "./header/header";
@import "./footer/footer";
@import "./contact-form/contact-form";
@import "./button/button";
@import "./slider/slider";
@import "./catalog/catalog";
@import "./carousel/carousel";
@import "./carousel-item/carousel-item";
@import "./delivery/delivery";
@import "./partners-list/partners-list";
@import "./about-and-map/about-and-map";
@import "./breadcrumbs/breadcrumbs";
@import "./pagination/pagination";
@import "./blog/blog";
@import "./blog-item/_blog-item";
@import "./product-list-item/product-list-item";
@import "./product-list/product-list";
@import "./filter/filter";
@import "./checkbox/checkbox";
@import "./animation/animation";
@import "./svg/svg";