<li class="products-list__item @@backgroundClass"><a class="products-list__link @@hiddenClass" href="@@link">
    <picture>
      <source srcset="static/images/@@img.png, static/images/@@img_2x.png 2x" media="(min-width: 769px)">
      <source srcset="static/images/@@img_tablet.png, static/images/@@img_tablet_2x.png 2x" media="(min-width: 421px) and (max-width: 768px)">
      <source srcset="static/images/@@img_mobile.png, static/images/@@img_mobile_2x.png 2x" media="(max-width: 420px)">
      <img src="static/images/@@img.png" alt="@@alt">
    </picture>
    <span class="products-list__text">@@text</span>
  </a></li>