<ul class="products-list">
  @@include('carousel-item/index.html', {
    backgroundClass:"product-img-1",
    link:"#",
    img:"apparel_kids",
    alt:"sweater",
    text:"apparel kids"
  })
  @@include('carousel-item/index.html', {
    backgroundClass:"product-img-2",
    link:"#",
    img:"holiday_shop",
    alt:"holiday-sock",
    text:"holiday shop"
  })
  @@include('carousel-item/index.html', {
    backgroundClass:"product-img-3",
    link:"pages/toys/index.html",
    img:"toys",
    alt:"deer",
    text:"toys"
  })
  @@include('carousel-item/index.html', {
    backgroundClass:"product-img-4",
    link:"#",
    img:"accessories",
    alt:"skater",
    text:"accessories"
  })
  @@include('carousel-item/index.html', {
    backgroundClass:"product-img-5",
    hiddenClass:"hidden",
    link:"#",
    img:"sale",
    alt:"flamingo",
    text:"sale"
  })
  @@include('carousel-item/index.html', {
    backgroundClass:"product-img-6",
    hiddenClass:"hidden",
    link:"#",
    img:"apparel_adults",
    alt:"dress",
    text:"apparel adults"
  })
</ul>