<ul class="products-list">
  @@include('carousel-item/index.html', {
    backgroundClass:"product-img-1",
    link:"#",
    img:"static/images/apparel_kids.png",
    alt:"sweater",
    text:"apparel kids"
  })
  @@include('carousel-item/index.html', {
    backgroundClass:"product-img-2",
    link:"#",
    img:"static/images/holiday_shop.png",
    alt:"holiday-sock",
    text:"holiday shop"
  })
  @@include('carousel-item/index.html', {
    backgroundClass:"product-img-3",
    link:"pages/toys/index.html",
    img:"static/images/toys.png",
    alt:"deer",
    text:"toys"
  })
  @@include('carousel-item/index.html', {
    backgroundClass:"product-img-4",
    link:"#",
    img:"static/images/accessories.png",
    alt:"skater",
    text:"accessories"
  })
  @@include('carousel-item/index.html', {
    backgrounClass:"product-img-5",
    hiddenClass:"hidden",
    link:"#",
    img:"static/images/sale.png",
    alt:"flamingo",
    text:"sale"
  })
  @@include('carousel-item/index.html', {
    backgroundClass:"product-img-6",
    hiddenClass:"hidden",
    link:"#",
    img:"static/images/apparel_adults.png",
    alt:"dress",
    text:"apparel adults"
  })
</ul>