@import "./mixin";

// POPUP WINDOW

.popup-wrapper {
  display: none;
  position: fixed;
  background: rgba(125, 151, 218, 0.8);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  &--open {
    display: block;
  }
}

.contact-form {
  position: fixed;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 680px;
  height: max-content;
  background: #e5eaf8;
  padding-top: 20px;
  padding-bottom: 25px;

  @include tablet {
    left: 43%;
  }

  &__input-wrap {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
  }

  &__label {
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #1e0606;
    padding-bottom: 3px;
  }

  &__input {
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }

  &__input:hover,
  input:focus {
    background: #ffffff;
    padding: 19px 10px 13px;
    border: 2px solid #c29974;
  }
  
  &__input:disabled {
    background: #ffffff;
    border: 2px solid #ebebeb;
  }

  &__input--name-input {
    width: 610px;
    height: 50px;
    margin: 0px auto;
    padding: 20px 11px 14px;
  }
  
  &__input--name-input::placeholder {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #1e0606;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }

  &__input--contact-input {
    width: 280px;
    height: 50px;
    padding: 20px 11px 14px;
  }

  &__textarea {
    margin: 0 auto;
    width: 610px;
    height: 150px;
    resize: none;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 20px 11px 14px;
  }
  
  &__textarea:hover,
  &__textarea:focus {
    background: #ffffff;
    padding: 19px 10px 13px;
    border: 2px solid #c29974;
  }
  
  &__textarea:disabled {
    background: #ffffff;
    border: 2px solid #ebebeb;
  }

  &__close-btn {
    position: fixed;
    top: 0%;
    left: 101%;
    border: none;
    outline: none;
    background: transparent;

    @include tablet {
      top: -4%;
      left: 98%;
    }
  }
  
  &__close-btn:hover,
  &__close-btn:focus {
    opacity: 0.5;
    cursor: pointer;
  }
}

// CONTACT US FORM

.contact-us-form {
  display: flex;
  width: 680px;
  height: max-content;
  background: #e5eaf8;
  padding-top: 16px;
  padding-left: 10px;
  padding-bottom: 25px;

  &__input-wrap {
    display: flex;
    flex-direction: column;
  }

  &__label {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #1e0606;
    padding-bottom: 3px;
  }

  &__input {
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }

  &__input:hover,
  input:focus {
  padding: 19px 10px 13px;
  background: #ffffff;
  border: 2px solid #c29974;
}

&__input:disabled {
  padding: 19px 10px 13px;
  background: #ffffff;
  border: 2px solid #ebebeb;
}

  &__input--name-input {
    width: 600px;
    height: 50px;
    margin: 0px auto;
    padding: 20px 11px 14px;
  }

  &__input--name-input::placeholder {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #1e0606;
  }

  &__contact-info {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }

  &__input--contact-input {
    width: 280px;
    height: 50px;
    padding: 20px 11px 14px;
  }
}