@@if (type === "popup") {
<div class="popup-wrapper">
  <form class="contact-form" name="form" action="#" method="post">
    <fieldset>

      <fieldset class="contact-form__input-wrap">
        <label class="contact-form__label" for="name">Name</label>
        <input class="contact-form__input contact-form__input--name-input" placeholder="ivan ivanov" name="name" type="text" id="name" />
      </fieldset>

      <div class="contact-form__info">

        <fieldset class="contact-form__input-wrap">
          <label class="contact-form__label" for="phone">Phone</label>
          <input class="contact-form__input contact-form__input--contact-input" name="phone" type="text" id="phone" />
        </fieldset>

        <fieldset class="contact-form__input-wrap">
          <label class="contact-form__label" for="contact-email">Email</label>
          <input class="contact-form__input contact-form__input--contact-input" name="email" type="text" id="contact-email" />
        </fieldset>

      </div>

      <fieldset class="contact-form__input-wrap">
        <label class="contact-form__label" for="message">Message</label>
        <textarea class="contact-form__textarea" name="message" id="message"></textarea>
      </fieldset>

      <fieldset class="contact-form__checkbox-agreement">
        @@include('checkbox/index.html', {
          name:"info",
          value:"",
          id:"agree",
          for:"agree",
          text:"By clicking on the button, you consent to the processing of your personal data",
        })
      </fieldset>

      <fieldset>
        @@include('button/index.html', {
          text:"submit",
          class:"button--submit",
          type:"button",
          disabled:"yes",
        })
      </fieldset>

    </fieldset>
    <a class="contact-form__close-btn" aria-label="close-button"><img src="../../static/images/close.png" width="15" height="15" alt="close"></a>
  </form>
</div>
}

@@if (type === "contacts") {
  <div class="container">
    <form class="contact-us-form" name="form" action="#" method="post">

      <fieldset>
        <fieldset class="contact-us-form__input-wrap">
          <label class="contact-us-form__label" for="contact-us-name">Name</label>
          <input class="contact-us-form__input contact-us-form__input--name-input" placeholder="ivan ivanov" name="name" type="text" id="contact-us-name" />
        </fieldset>

        <div class="contact-us-form__contact-info">
          <fieldset class="contact-us-form__input-wrap">
            <label class="contact-us-form__label" for="contact-us-phone">Phone</label>
            <input class="contact-us-form__input contact-us-form__input--contact-input" name="phone" type="text" id="contact-us-phone" />
          </fieldset>

          <fieldset class="contact-us-form__input-wrap">
            <label class="contact-us-form__label" for="contact-us-email">Email</label>
            <input class="contact-us-form__input contact-us-form__input--contact-input" name="email" type="text" id="contact-us-email" />
          </fieldset>
        </div>

        <fieldset class="contact-us-form__input-wrap">
          <label class="contact-us-form__label" for="contact-us-message">Message</label>
          <textarea class="contact-us-form__textarea" name="message" id="contact-us-message"></textarea>
        </fieldset>

        <fieldset class="contact-us-form__checkbox-agreement">
          @@include('checkbox/index.html', {
          name:"info",
          class:"contact-us-checkbox",
          value:"",
          id:"contact-us-agree",
          for:"contact-us-agree",
          text:"By clicking on the button, you consent to the processing of your personal data",
        })
        </fieldset>

        <fieldset>
          @@include('button/index.html', {
            text:"submit",
            type:"button",
            disabled:"no",
          })
        </fieldset>
      </fieldset>
    </form>
    </div>
}