@@if (type = "popup") {
<div class="popup-wrapper">
  <form class="contact-form" name="form" action="#" method="post">
    <fieldset class="main-form">
      <fieldset class="input-wrap">
        <label for="name">Name</label>
        <input placeholder="ivan ivanov" class="input name-input" name="name" type="text" id="name" />
      </fieldset>
      <div class="contact-info">
        <fieldset class="input-wrap">
          <label for="phone">Phone</label>
          <input class="input contact-input" name="phone" type="text" id="phone" />
        </fieldset>
        <fieldset class="input-wrap">
          <label for="contact-email">Email</label>
          <input class="input contact-input" name="email" type="text" id="contact-email" />
        </fieldset>
      </div>
      <fieldset class="input-wrap">
        <label for="message">Message</label>
        <textarea name="message" id="message"></textarea>
      </fieldset>
      <fieldset class="input-wrap">
        <input class="checkbox" checked type="checkbox" name="info" id="agree" value="">
        <label class="checkbox-label" for="agree">By clicking on the button, you
          consent to the
          processing
          of your personal data</label>
      </fieldset>
      <fieldset>
        @@include('button/index.html', {
          text:"submit",
          class:"submit-btn",
          type:"button",
          disabled:"yes",
        })
      </fieldset>
    </fieldset>
    <a class="close-btn" aria-label="close-button"><img src="../../static/images/close.png" width="25" height="25" alt="close"></a>
  </form>
</div>
}

@@if (type = "contacts") {
  <div class="container">
    <form class="contact-us-form" name="form" action="#" method="post">

      <fieldset class="contact-us-main-form">
        <fieldset class="contact-us-input-wrap">
          <label for="contact-us-name">Name</label>
          <input placeholder="ivan ivanov" class="input name-input" name="name" type="text" id="contact-us-name" />
        </fieldset>

        <div class="contact-us-contact-info">
          <fieldset class="contact-us-input-wrap">
            <label for="contact-us-phone">Phone</label>
            <input class="input contact-input" name="phone" type="text" id="contact-us-phone" />
          </fieldset>

          <fieldset class="contact-us-input-wrap">
            <label for="contact-us-email">Email</label>
            <input class="input contact-input" name="email" type="text" id="contact-us-email" />
          </fieldset>
        </div>

        <fieldset class="contact-us-input-wrap">
          <label for="contact-us-message">Message</label>
          <textarea name="message" id="contact-us-message"></textarea>
        </fieldset>

        <fieldset>
          <input class="checkbox" checked type="checkbox" name="info" id="contact-us-agree" value="">
          <label class="checkbox-label" for="contact-us-agree">By clicking on the button, you
            consent to the
            processing
            of your personal data</label>
        </fieldset>

        <fieldset>
          @@include('button/index.html', {
            text:"submit",
            type:"button",
            disabled:"no",
          })
        </fieldset>
      </fieldset>
    </form>
    </div>
}