<footer class="footer">
  <div class="footer__wrapper container">
    <section class="footer-nav">
      <h3 class="footer-nav__heading">Navigation</h3>
      <ul class="footer-nav__list">
        <li class="footer-nav__item"><a class="footer-nav__link" href="#">About Us</a></li>
        <li class="footer-nav__item"><a class="footer-nav__link" href="./pages/blog/index.html">Blog</a></li>
        <li class="footer-nav__item"><a class="footer-nav__link" href="#">Design Services</a></li>
        <li class="footer-nav__item"><a class="footer-nav__link" href="#">Featured On</a></li>
        <li class="footer-nav__item"><a class="footer-nav__link" href="#">2018 Holiday Catalog</a></li>
        <li class="footer-nav__item"><a class="footer-nav__link" href="#">Shop By Designer</a></li>
      </ul>
    </section>
    <section class="customer-info">
      <h3 class="customer-info__heading">Customer information</h3>
      <ul class="customer-info__list">
        <li class="customer-info__item"><a class="customer-info__link" href="./pages/contacts/index.html">Contact Us</a></li>
        <li class="customer-info__item"><a class="customer-info__link" href="#">Sale Exclusions</a></li>
        <li class="customer-info__item"><a class="customer-info__link" href="#">Shipping & Returns</a></li>
        <li class="customer-info__item"><a class="customer-info__link" href="#">Terms & Conditions</a></li>
        <li class="customer-info__item"><a class="customer-info__link" href="#">Privacy Policy</a></li>
        <li class="customer-info__item"><a class="customer-info__link" href="#">Search</a></li>
      </ul>
    </section>

    <section class="connect">
      <h3 class="connect__heading">Connect</h3>
      <form class="connect__email-form" action="#">
        <label for="email"></label>
        <input class="connect__input" type="text" id="email" placeholder="Email">
        @@include('button/index.html', {
          text:"join",
          type:"button",
          disabled:"no",
        })
      </form>
      <ul class="connect__social-list">
        <li class="connect__item"><a href="https://facebook.com/" target="_blank"><img src="/static/images/facebook.svg"
              alt="facebook" width="30" height="30"></a></li>
        <li class="connect__item"><a href="https://twitter.com/" target="_blank"><img src="/static/images/twitter.svg"
              alt="twitter" width="30" height="30"></a></li>
        <li class="connect__item"><a href="https://www.pinterest.ru/" target="_blank"><img
              src="/static/images/pinterest.svg" alt="pinterest" width="30" height="30"></a></li>
        <li class="connect__item"><a href="https://www.instagram.com/" target="_blank"><img
              src="/static/images/instagram.svg" alt="instagram" width="30" height="30"></a></li>
      </ul>
    </section>

    <div class="additional-info">
      <div class="company-rating">
        <div class="company-rating__area">
          <input type="radio" id="star-5" name="rating" value="5">
          <label for="star-5" title="rating «5»"></label>
          <input type="radio" id="star-4" name="rating" value="4">
          <label for="star-4" title="rating «4»"></label>
          <input type="radio" id="star-3" name="rating" value="3">
          <label for="star-3" title="rating «3»"></label>
          <input type="radio" id="star-2" name="rating" value="2">
          <label for="star-2" title="rating «2»"></label>
          <input type="radio" id="star-1" name="rating" value="1">
          <label for="star-1" title="rating «1»"></label>
        </div>
        <span class="company-rating__title">Company Rating</span>
      </div>
      <span class="additional-info__copyright">Copyright © 2018 Dlk • Design Life Kids</span>
      <a class="additional-info__link" href="https://directline.digital/" target="_blank">Web Design — Direct Line Development</a>
    </div>
  </div>
</footer>