@@if (type === "catalog") {
<div class="breadcrumbs container">
  <h1 class="breadcrumbs__heading">category products</h1>
  <ul class="breadcrumbs__list">
    <li class="breadcrumbs__list-item"><a class="breadcrumbs__item-link" href="../../index.html">Home</a></li>
    <li class="breadcrumbs__list-item">Catalog</li>
  </ul>
</div>
}

@@if (type === "contacts") {
  <div class="breadcrumbs container">
    <h1 class="breadcrumbs__heading">contact us</h1>
    <ul class="breadcrumbs__list">
      <li class="breadcrumbs__list-item"><a class="breadcrumbs__item-link" href="../../index.html">Home</a></li>
      <li class="breadcrumbs__list-item">Contact Us</li>
    </ul>
  </div>
  }

  @@if (type === "blog") {
    <div class="breadcrumbs container">
      <h1 class="breadcrumbs__heading">blog</h1>
      <ul class="breadcrumbs__list">
        <li class="breadcrumbs__list-item"><a class="breadcrumbs__item-link" href="../../index.html">Home</a></li>
        <li class="breadcrumbs__list-item">Blog</li>
      </ul>
    </div>
    }

  @@if (type === "toys") {
    <div class="breadcrumbs container">
      <h1 class="breadcrumbs__heading">toy for kids</h1>
      <ul class="breadcrumbs__list">
        <li class="breadcrumbs__list-item"><a class="breadcrumbs__item-link" href="../../index.html">Home</a></li>
        <li class="breadcrumbs__list-item"><a class="breadcrumbs__item-link" href="../catalog/index.html">Catalog</a></li>
        <li class="breadcrumbs__list-item">Toys</li>
      </ul>
    </div>
  }

  @@if (type === "animation") {
    <div class="breadcrumbs container">
      <h1 class="breadcrumbs__heading">animation scene</h1>
      <ul class="breadcrumbs__list">
        <li class="breadcrumbs__list-item"><a class="breadcrumbs__item-link" href="../../index.html">Home</a></li>
        <li class="breadcrumbs__list-item">Animation</li>
      </ul>
    </div>
    }

    @@if (type === "svg") {
      <div class="breadcrumbs container">
        <h1 class="breadcrumbs__heading">svg animation</h1>
        <ul class="breadcrumbs__list">
          <li class="breadcrumbs__list-item"><a class="breadcrumbs__item-link" href="../../index.html">Home</a></li>
          <li class="breadcrumbs__list-item">SVG</li>
        </ul>
      </div>
      }

      @@if (type === "grid") {
        <div class="breadcrumbs container">
          <h1 class="breadcrumbs__heading">grid</h1>
          <ul class="breadcrumbs__list">
            <li class="breadcrumbs__list-item"><a class="breadcrumbs__item-link" href="../../index.html">Home</a></li>
            <li class="breadcrumbs__list-item">Grid</li>
          </ul>
        </div>
        }