@import "./mixin";

.partners {
  margin-top: 90px;

  @include tablet {
    margin-top: 60px;
  }

  @include phones {
    margin-top: 0;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    @include phones {
      flex-flow: row wrap;
    }
  }
  
  &__list-item {
    margin-top: 30px;
    transition: 0.5s;
  }

  &__list-item:hover,
  &__list-item:active {
    opacity: 0.5;
  }
}