<div class="partners container mg-partners">
  <ul class="partners-list">
    <li class="partners-list-item"><a class="partners-list-item-link" href="https://mail.ru/" target="_blank"><img
          src="/static/images/mail_logo.svg" alt="mail-logo" width="193" height="60"></a></li>
    <li class="partners-list-item"><a class="partners-list-item-link" href="https://www.apple.com/" target="_blank"><img
          src="/static/images/apple_logo.svg" alt="apple-logo" width="179" height="61"></a></li>
    <li class="partners-list-item"><a class="partners-list-item-link" href="https://eltex-co.ru/" target="_blank"><img
          src="/static/images/eltex_logo.svg" alt="eltex-logo" width="216" height="46"></a></li>
    <li class="partners-list-item"><a class="partners-list-item-link" href="https://www.owox.ru/" target="_blank"><img
          src="/static/images/owox_logo.svg" alt="owox-logo" width="211" height="40"></a></li>
  </ul>
</div>