<div class="partners container">
  <ul class="partners__list">
    <li class="partners__list-item">
      <a class="partners__item-link" href="https://mail.ru/" target="_blank">
        <picture>
          <source srcset="/static/images/mail_logo.png, /static/images/mail_logo_2x.png 2x" media="(min-width: 1024px)">
          <source srcset="/static/images/mail_logo_tablet.png, /static/images/mail_logo_tablet_2x.png 2x"
            media="(min-width: 768px) and (max-width: 1023px)">
          <source srcset="/static/images/mail_logo_mobile.png, /static/images/mail_logo_mobile_2x.png 2x"
            media="(max-width: 767px)">
          <img src="/static/images/mail_logo.png" alt="mail-logo">
        </picture>
      </a></li>
    <li class="partners__list-item"><a class="partners__item-link" href="https://www.apple.com/" target="_blank">
        <picture>
          <source srcset="/static/images/apple_logo.png, /static/images/apple_logo_2x.png 2x"
            media="(min-width: 1024px)">
          <source srcset="/static/images/apple_logo_tablet.png, /static/images/apple_logo_tablet_2x.png "
            media="(min-width: 768px) and (max-width: 1023px)">
          <source srcset="/static/images/apple_logo_mobile.png, /static/images/apple_logo_mobile_2x.png 2x"
            media="(max-width: 767px)">
          <img src="/static/images/apple_logo.png" alt="apple-logo">
        </picture>
      </a></li>
    <li class="partners__list-item"><a class="partners__item-link" href="https://eltex-co.ru/" target="_blank">
        <picture>
          <source srcset="/static/images/eltex_logo.png, /static/images/eltex_logo_2x.png 2x"
            media="(min-width: 1024px)">
          <source srcset="/static/images/eltex_logo_tablet.png, /static/images/eltex_logo_tablet_2x.png "
            media="(min-width: 768px) and (max-width: 1023px)">
          <source srcset="/static/images/eltex_logo_mobile.png, /static/images/eltex_logo_mobile_2x.png 2x"
            media="(max-width: 767px)">
          <img src="/static/images/eltex_logo.png" alt="eltex-logo">
        </picture>
      </a></li>
    <li class="partners__list-item"><a class="partners__item-link" href="https://www.owox.ru/" target="_blank">
      <picture>
        <source srcset="/static/images/owox_logo.png, /static/images/owox_logo_2x.png 2x" media="(min-width: 1024px)">
        <source srcset="/static/images/owox_logo_tablet.png, /static/images/owox_logo_tablet_2x.png "
          media="(min-width: 768px) and (max-width: 1023px)">
        <source srcset="/static/images/owox_logo_mobile.png, /static/images/owox_logo_mobile_2x.png 2x" media="(max-width: 767px)">
        <img src="/static/images/owox_logo.png" alt="owox-logo">
      </picture>
      </a></li>
  </ul>
</div>