<section class="product container">
  <ul class="product-list">
    @@include('product-list-item/index.html', {
      img:"../../static/images/puff_shark.png",
      alt:"shark-bag",
      heading:"sharky bean bag chair cover",
      price:"60.00"
    })
    @@include('product-list-item/index.html', {
      img:"../../static/images/brass.png",
      alt:"brass",
      heading:"brass deco frames",
      price:"66.00"
    })
    @@include('product-list-item/index.html', {
      img:"../../static/images/cibo.png",
      alt:"cibo",
      heading:"cibo full apron",
      price:"60.00"
    })
    @@include('product-list-item/index.html', {
      img:"../../static/images/bubblegum_machine.png",
      alt:"bubblegum-machine",
      heading:"gatcha gatcha gumball machine",
      price:"56.00"
    })
    @@include('product-list-item/index.html', {
      img:"../../static/images/candle.png",
      alt:"candle",
      heading:"christmas advent scented candle",
      price:"29.00"
    })
    @@include('product-list-item/index.html', {
      img:"../../static/images/tangle_light.png",
      alt:"tangle-light",
      heading:"tangle spinning tea light",
      price:"56.00"
    })
  </ul>
</section>