<section class="main-theme container mg-main-theme-container">
  <div class="slide-pagination">
    <span class="slide-counter">01</span>
    <ul class="main-theme-menu">
      <li class="main-theme-menu-item">
        <button class="main-theme-menu-button" aria-label="menu-button"></button>
      </li>
      <li class="main-theme-menu-item">
        <button class="main-theme-menu-button" aria-label="menu-button"></button>
      </li>
      <li class="main-theme-menu-item">
        <button class="main-theme-menu-button" aria-label="menu-button"></button>
      </li>
      <li class="main-theme-menu-item">
        <button class="main-theme-menu-button" aria-label="menu-button"></button>
      </li>
    </ul>
  </div>
  <div class="slider">
    <div class="slide">
      <div class="slide-info">
        <h1 class="slide-heading">the ooh noo collection</h1>
        <span class="design">Designed in Slovenia</span>
        @@include('button/index.html', {
        text:"explore now",
        class:"explore-btn",
        type:"button",
        disabled:"no",
        })
      </div>
      <div class="slide-img-wrapper"><img class="slide-img" src="/static/images/alien_toy.png" alt="alien toy"
          width="636" height="489"></div>
    </div>
    <div class="slide hidden">
      <div class="slide-info">
        <h1 class="slide-heading">the ooh noo collection</h1>
        <span class="design">Designed in Slovenia</span>
        @@include('button/index.html', {
        text:"explore now",
        class:"explore-btn",
        type:"button",
        disabled:"no",
        })
      </div>
      <div class="slide-img-wrapper"><img class="slide-img" src="/static/images/alien_toy.png" alt="alien toy"
          width="636" height="489"></div>
    </div>
    <div class="slide hidden">
      <div class="slide-info">
        <h1 class="slide-heading">the ooh noo collection</h1>
        <span class="design">Designed in Slovenia</span>
        @@include('button/index.html', {
        text:"explore now",
        class:"explore-btn",
        type:"button",
        disabled:"no",
        })
      </div>
      <div class="slide-img-wrapper"><img class="slide-img" src="/static/images/alien_toy.png" alt="alien toy"
          width="636" height="489"></div>
    </div>
    <div class="slide hidden">
      <div class="slide-info">
        <h1 class="slide-heading">the ooh noo collection</h1>
        <span class="design">Designed in Slovenia</span>
        @@include('button/index.html', {
        text:"explore now",
        class:"explore-btn",
        type:"button",
        disabled:"no",
        })
      </div>
      <div class="slide-img-wrapper"><img class="slide-img" src="/static/images/alien_toy.png" alt="alien toy"
          width="636" height="489"></div>
    </div>
  </div>
  <span class="shipping-info">Free (continental) USA shipping on all orders of $100 USD or more!</span>
</section>