<section class="main-theme container">
  <div class="slide-pagination">
    <span class="slide-pagination__counter">01</span>
    <ul class="slide-pagination__list">
      <li class="slide-pagination__item">
        <button class="slide-pagination__button" aria-label="pagination-button"></button>
      </li>
      <li class="slide-pagination__item">
        <button class="slide-pagination__button" aria-label="pagination-button"></button>
      </li>
      <li class="slide-pagination__item">
        <button class="slide-pagination__button" aria-label="pagination-button"></button>
      </li>
      <li class="slide-pagination__item">
        <button class="slide-pagination__button" aria-label="pagination-button"></button>
      </li>
    </ul>
  </div>
  <div class="slider">
    <div class="slide">
      <div class="slide__info">
        <h1 class="slide__heading">the ooh noo collection</h1>
        <span class="slide__design">Designed in Slovenia</span>
        @@include('button/index.html', {
        text:"explore now",
        class:"button--explore",
        type:"button",
        disabled:"no",
        })
      </div>
      <div class="slide__img-wrapper">
        <picture>
          <source srcset="/static/images/alien_toy.png, /static/images/alien_toy_2x.png 2x" media="(min-width: 1020px)">
          <source srcset="/static/images/alien_toy_tablet.png, /static/images/alien_toy_tablet_2x.png 2x "
            media="(min-width: 768px) and (max-width: 1119px)">
          <source srcset="/static/images/alien_toy_mobile.png, /static/images/alien_toy_mobile_2x.png 2x "
            media="(max-width:767px)">
          <img class="slide__img" src="/static/images/alien_toy.png" alt="alien toy">
        </picture>
      </div>
    </div>
    <div class="slide hidden">
      <div class="slide__info">
        <h1 class="slide__heading">the ooh noo collection</h1>
        <span class="slide__design">Designed in Slovenia</span>
        @@include('button/index.html', {
        text:"explore now",
        class:"button--explore",
        type:"button",
        disabled:"no",
        })
      </div>
      <div class="slide__img-wrapper">
        <picture>
          <source srcset="/static/images/alien_toy.png, /static/images/alien_toy_2x.png 2x" media="(min-width: 1120px)">
          <source srcset="/static/images/alien_toy_tablet.png, /static/images/alien_toy_tablet_2x.png 2x "
            media="(min-width: 768px) and (max-width: 1119px)">
          <source srcset="/static/images/alien_toy_mobile.png, /static/images/alien_toy_mobile_2x.png 2x "
            media="(max-width: 767px)">
          <img class="slide__img" src="/static/images/alien_toy.png" alt="alien toy">
        </picture>
      </div>
      <div class="slide hidden">
        <div class="slide__info">
          <h1 class="slide__heading">the ooh noo collection</h1>
          <span class="slide__design">Designed in Slovenia</span>
          @@include('button/index.html', {
          text:"explore now",
          class:"button--explore",
          type:"button",
          disabled:"no",
          })
        </div>
        <div class="slide__img-wrapper">
          <picture>
            <source srcset="/static/images/alien_toy.png, /static/images/alien_toy_2x.png 2x" media="(min-width: 1120px)">
            <source srcset="/static/images/alien_toy_tablet.png, /static/images/alien_toy_tablet_2x.png 2x "
              media="(min-width: 768px) and (max-width: 1119px)">
            <source srcset="/static/images/alien_toy_mobile.png, /static/images/alien_toy_mobile_2x.png 2x "
              media="(max-width: 767px)">
            <img class="slide__img" src="/static/images/alien_toy.png" alt="alien toy">
          </picture>
        </div>
      </div>
      <div class="slide hidden">
        <div class="slide__info">
          <h1 class="slide__heading">the ooh noo collection</h1>
          <span class="slide__design">Designed in Slovenia</span>
          @@include('button/index.html', {
          text:"explore now",
          class:"button--explore",
          type:"button",
          disabled:"no",
          })
        </div>
        <div class="slide__img-wrapper">
          <picture>
            <source srcset="/static/images/alien_toy.png, /static/images/alien_toy_2x.png 2x" media="(min-width: 1120px)">
            <source srcset="/static/images/alien_toy_tablet.png, /static/images/alien_toy_tablet_2x.png 2x "
              media="(min-width: 768px) and (max-width: 1119px)">
            <source srcset="/static/images/alien_toy_mobile.png, /static/images/alien_toy_mobile_2x.png 2x "
              media="(max-width: 767px)">
            <img class="slide__img" src="/static/images/alien_toy.png" alt="alien toy">
          </picture>
        </div>
      </div>
    </div>
    <span class="main-theme__shipping-info">Free (continental) USA shipping on all orders of $100 USD or more!</span>
</section>